.header {
  display: flex;
  padding: 24px 4%;
  background-color: #fff;
  border-bottom: 1px solid #e8e8e8;
  align-items: center;
  grid-gap: 40px;
  gap: 40px;
}

.menu {
  display: inline-flex;
  list-style-type: none;
}

.menu li {
  padding: 10px;
}

.userIcon {
  align-self: flex-end;
}

.user {
  position: absolute;
  border: 1px gray solid;
  border-radius: 50%;
  color: #0290ff;
  height: 3rem;
  width: 3rem;
  background-color: white;
  right: 5%;
  top: 3.5%;
}
